<!--=====左侧=====-->
    <div id="left" class='fleft'>
        <ul class='left_nav'>
            <li><a href="/"><i class='icon icon-home'></i>&nbsp;&nbsp;首页</a></li>
            <li><a href="{:U('User/atme')}"><i class='icon icon-at'></i>&nbsp;&nbsp;提到我的</a></li>
            <li><a href="/msg/list"><i class='icon icon-letter'></i>&nbsp;&nbsp;私信</a></li>
        </ul>
        <div class="group">
            <fieldset><legend>分组</legend></fieldset>
            <ul>

                <li><a href="/"><i class='icon icon-group'></i>&nbsp;&nbsp;全部</a></li>
<!--
                #foreach( $groups in $focusGroups)
                    <li>
                        <a href="#"><i class='icon icon-group'></i>&nbsp;&nbsp;$!{groups.name}</a>
                    </li>
                #end
-->
            </ul>
            <!--
            <span id='create_group'>创建新分组</span>
            -->
        </div>
    </div>
    
    <!--==========创建分组==========-->
    <script type='text/javascript'>
        var addGroup = "/Commont/addGroup";
    </script>
    <div id='add-group'>
        <div class="group_head">
            <span class='group_text fleft'>创建好友分组</span>
        </div>
        <div class='group-name'>
            <span>分组名称：</span>
            <input type="text" name='name' id='gp-name'>
        </div>
        <div class='gp-btn-wrap'>
            <span class='add-group-sub'>添加</span>
            <span class='group-cencle'>取消</span>
        </div>
    </div>
    <!--==========创建分组==========-->