<script type='text/javascript'>
    var getMsgUrl = "/getMsg";
</script>
</head>
<body>
<!--==========顶部固定导行条==========-->
    <div id='top_wrap'>
        <div id="top">
            <div class='top_wrap'>
                <div class="logo fleft"></div>
                <ul class='top_left fleft'>
                    <li class='cur_bg'><a href='/'>首页</a></li>
                    <li><a href="/msg/list">私信</a></li>
                    <li><a href="{:U('User/atme')}">@我</a></li>
                </ul>
                <div id="search" class='fleft'>
                    <form action='{:U("Search/sechUser")}' method='get'>
                        <input type='text' name='keyword' id='sech_text' class='fleft' value='搜索微博、找人'/>
                        <input type='submit' value='' id='sech_sub' class='fleft'/>
                    </form>
                </div>
                <div class="user fleft">
                    <a href="/profile/$!{user.id}">$!{user.nickname}</a>
                </div>
                <ul class='top_right fleft'>
                    <li title='快速发微博' class='fast_send'><i class='icon icon-write'></i></li>
                    <li class='selector'><i class='icon icon-msg'></i>
                        <ul class='hidden'>
                            <li><a href="#">查看评论</a></li>
                            <li><a href="/msg/list">查看私信</a></li>
                            <li><a href="{:U('User/atme')}">查看@我</a></li>
                        </ul>
                    </li>
                    <li class='selector'><i class='icon icon-setup'></i>
                        <ul class='hidden'>
                            <li><a href="/userSetting">帐号设置</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                <!--信息推送-->
                    <li id='news' class='hidden'>
                        <i class='icon icon-news'></i>
                        <ul>
                            <li class='news_comment hidden'>
                                <a href="{:U('User/comment')}"></a>
                            </li>
                            <li class='news_letter hidden'>
                                <a href="{:U('User/letter')}"></a>
                            </li>
                            <li class='news_atme hidden'>
                                <a href="{:U('User/atme')}"></a>
                            </li>
                        </ul>
                    </li>
                <!--信息推送-->
                </ul>
            </div>
        </div>
    </div>
<!--==========顶部固定导行条==========-->
