<div id="right">
    <div class="edit_tpl"><a href="" class='set_model'></a></div>
    <dl class="user_face">
        <dt>
            <a href="/profile/$!{userinfo.id}">
                <img src="#if("$!userinfo.face80" != "")/img/$!{userinfo.face80} #else ../Images/noface.gif #end" width='80' height='80' id='face-img' alt="$!{userinfo.nickname}"/>
            </a>
        </dt>
        <dd>
            <a href="/profile/$!{userinfo.id}">$!{userinfo.nickname}</a>
        </dd>
    </dl>
    <ul class='num_list'>
        <li><a href="/profile/$!{userinfo.id}"><strong>$!{userinfo.followee}</strong><span>关注</span></a></li>
        <li><a href="/profile/$!{userinfo.id}"><strong>$!{userinfo.follower}</strong><span>粉丝</span></a></li>
        <li class='noborder'>
            <a href="/profile/$!{userinfo.id}"><strong>$!{userinfo.weibo}</strong><span>微博</span></a>
        </li>
    </ul>
    <div class="post">
        <div class='post_line'>
            <span>公告栏</span>
        </div>
        <ul>
            <li><a href="http://www.pengchaoling.com">微博系统正式上线了</a></li>
            <li><a href="http://www.pengchaoling.com">彭朝领个人博客</a></li>
            <li><a href="https://github.com/pengchaoling">彭朝领的github</a></li>
        </ul>
    </div>
</div>