#parse("./common/header.html")
<title>微博系统-首页</title>
<link rel="stylesheet" href="../Theme/default/Css/nav.css" />
<link rel="stylesheet" href="../Theme/default/Css/index.css" />
<link rel="stylesheet" href="../Theme/default/Css/bottom.css" />
<link rel="stylesheet" href="../Uploadify/uploadify.css"/>
<script type="text/javascript" src='../Js/jquery-1.7.2.min.js'></script>
<script type="text/javascript" src='../Js/nav.js'></script>
<script type="text/javascript" src='../Uploadify/jquery.uploadify.min.js'></script>
<script type="text/javascript" src='../Js/index.js'></script>
<script type='text/javascript'>
        var PUBLIC = '..';
        var uploadUrl = '/UploadFile/UploadPic';
        var ROOT = '/img/';
        var commentUrl = "/addComment";
        var getComment = '/getComment';
        var keepUrl = '/keep';
        var delWeibo = '/delWeibo';
    </script>
#parse("./common/nav.html")
<!--==========内容主体==========-->
<div style='height:60px;opcity:10'></div>
<div class="main">
    <!--=====左侧=====-->
    #parse("./common/left.html")
    <!--=====中部=====-->
    <div id="middle" class='fleft'>
        <!--微博发布框-->
        <div class='send_wrap'>
            <div class='send_title fleft'></div>
            <div class='send_prompt fright'>
                <span>你还可以输入<span id='send_num'>140</span>个字</span>
            </div>
            <div class='send_write'>
                <form action='/weiboSend' method='post' name='weibo'>
                    <textarea sign='weibo' name='content'></textarea>
                    <span class='ta_right'></span>
                    <div class='send_tool'>
                        <ul class='fleft'>
                            <li title='表情'><i class='icon icon-phiz phiz' sign='weibo'></i></li>
                            <li title='图片'><i class='icon icon-picture'></i>
                                <!--图片上传框-->
                                <div id="upload_img" class='hidden'>
                                    <div class='upload-title'><p>本地上传</p><span class='close'></span></div>
                                    <div class='upload-btn'>
                                        <input type="hidden" name='max' value=''/>
                                        <input type="hidden" name='medium' value=''/>
                                        <input type="hidden" name='mini' value=''/>
                                        <input type="file" name='picture' id='picture'/>
                                    </div>
                                </div>
                                <!--图片上传框-->
                                <div id='pic-show' class='hidden'>
                                    <img src="" alt=""/>
                                </div>
                            </li>
                        </ul>
                        <input type='submit' value='' class='send_btn fright' title='发布微博按钮'/>
                    </div>
                </form>
            </div>
        </div>
        <!--微博发布框-->
        <div class='view_line'>
            <strong>微博</strong>
        </div>
            #if($vos.isEmpty())
            没有发布的微博
            #else
                #foreach($vo in $vos)

     #if("$!vo.weibo.isturn" == 0)
                    <!--====================普通微博样式=========================-->
                    <div class="weibo">
                        <!--头像-->
                        <div class="face">
                            <a href="/profile/$!{vo.userinfo.uid}">
                              <img src="#if("$!vo.userinfo.face50" != "")/img/$!{vo.userinfo.face50} #else ../Images/noface.gif #end" width='50' height='50'"
                            </a>
    </div>
    <div class="wb_cons">
        <dl>
            <!--用户名-->
            <dt class='author'>
                <a href="/profile/$!{vo.userinfo.uid}">$!{vo.userinfo.nickname}</a>
            </dt>
            <!--发布内容-->
            <dd class='content'>
                <p>$!{vo.weibo.content}</p>
            </dd>
            <!--微博图片-->

            #if("$!vo.picture.max" != "")
                <dd>
                    <div class='wb_img'>
                        <!--小图-->
                        <img src="/img/$!{vo.picture.mini}" class='mini_img'/>
                        <div class="img_tool hidden">
                            <ul>
                                <li>
                                    <i class='icon icon-packup'></i>
                                    <span class='packup'>&nbsp;收起</span>
                                </li>
                                <li>|</li>
                                <li>
                                    <i class='icon icon-bigpic'></i>
                                    <a href="/img/$!{vo.picture.max}" target='_blank'>&nbsp;查看大图</a>
                                </li>
                            </ul>
                            <!--中图-->
                            <div class="img_info"><img src="/img/$!{vo.picture.medium}"/></div>
                        </div>
                    </div>
                </dd>
                #end
        </dl>
        <!--操作-->
        <div class="wb_tool">
            <!--发布时间-->
            <span class="send_time">$date.format('yyyy-MM-dd HH:mm:ss', $!{vo.weibo.time})</span>
            <ul>
                #if($!user.id == $!vo.userinfo.uid)
                    <li class='del-li hidden'><span class='del-weibo' wid='$!{vo.weibo.id}'>删除</span></li>
                    <li class='del-li hidden'>|</li>
                #end
                <li><span class='turn' id='$!{vo.weibo.id}'>转发($!{vo.weibo.turn})</span></li>
                <li>|</li>
                <li class='keep-wrap'>
                    <span class='keep' wid='$!{vo.weibo.id}'>收藏($!{vo.weibo.keep})</span>
                    <div class='keep-up hidden'></div>
                </li>
                <li>|</li>
                <li><span class='comment' wid='$!{vo.weibo.id}'>评论($!{vo.weibo.comment})</span></li>
            </ul>
        </div>
        <!--=====回复框=====-->
        <div class='comment_load hidden'>
            <img src="../Images/loading.gif">评论加载中，请稍候...
        </div>
        <div class='comment_list hidden'>
            <textarea name="" sign='comment{$key}'></textarea>
            <ul>
                <li class='phiz fleft' sign='comment{$key}'></li>
                <li class='comment_turn fleft'>
                    <label>
                        <input type="checkbox" name=''/>同时转发到我的微博
                    </label>
                </li>
                <li class='comment_btn fright' wid='$!{vo.weibo.id}' uid='$!{vo.userinfo.uid}'>评论</li>
            </ul>
        </div>
        <!--=====回复框结束=====-->
    </div>
</div>
#else
<!--====================转发样式====================-->
<div class="weibo">
    <!--头像-->
    <div class="face">
        <a href="/profile/$!{vo.userinfo.uid}">
            <img src="#if("$!vo.userinfo.face50" != "")/img/$!{vo.userinfo.face50} #else ../Images/noface.gif #end" width='50' height='50'"
        </a>
    </div>
    <div class="wb_cons">
        <dl>
            <!--用户名-->
            <dt class='author'>
                <a href="/profile/$!{vo.userinfo.uid}" id="author_$!{vo.weibo.id}">$!{vo.userinfo.nickname}</a>
            </dt>
            <!--发布内容-->
            <dd class='content'>
                <p>$!{vo.weibo.content}</p>
            </dd>
            <!--转发的微博内容-->
                #if("$!vo.weiboTurn.id" =="")
                <dd class="wb_turn">该微博已被删除</dd>
                #else
                <dd>
                    <div class="wb_turn">
                        <dl>
                            <!--原作者-->
                            <dt class='turn_name'>
                                <a href="/profile/$!{vo.userTurn.uid}">@$!{vo.userTurn.nickname}</a>
                            </dt>
                            <!--原微博内容-->
                            <dd class='turn_cons'>
                                <p>$!{vo.weiboTurn.content}</p>
                            </dd>
                            <!--原微博图片-->

                            #if("$!vo.pictureTurn.max" != "")
                            <dd>
                                <div class='wb_img'>
                                    <!--小图-->
                                    <img src="/img/$!{vo.pictureTurn.mini}" class='mini_img'/>
                                    <div class="img_tool hidden">
                                        <ul>
                                            <li>
                                                <i class='icon icon-packup'></i>
                                                <span class='packup'>&nbsp;收起</span>
                                            </li>
                                            <li>|</li>
                                            <li>
                                                <i class='icon icon-bigpic'></i>
                                                <a href="/img/$!{vo.pictureTurn.max}" target='_blank'>&nbsp;查看大图</a>
                                            </li>
                                        </ul>
                                        <!--中图-->
                                        <div class="img_info"><img src="/img/$!{vo.pictureTurn.medium}"/></div>
                                    </div>
                                </div>
                            </dd>
                            #end
                        </dl>
                        <!--转发微博操作-->
                        <div class="turn_tool">
                                    <span class='send_time'>
                                        $date.format('yyyy-MM-dd HH:mm:ss', $!{vo.weiboTurn.time})
                                    </span>
                            <ul>
                                <li><a href="javascript:">转发($!{vo.weiboTurn.turn})</a></li>
                                <li>|</li>
                                <li><a href="javascript:">评论($!{vo.weiboTurn.comment})</a></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            #end
        </dl>
        <!--操作-->
        <div class="wb_tool">
            <!--发布时间-->
            <span class="send_time">
                $date.format('yyyy-MM-dd HH:mm:ss', $!{vo.weibo.time})
                        </span>
            <ul>
                #if($user.id == $vo.userinfo.uid)
                    <li class='del-li hidden'><span class='del-weibo' wid='$!{vo.weibo.id}'>删除</span></li>
                    <li class='del-li hidden'>|</li>
                #end
                <li><span class='turn' id='$!{vo.weibo.id}' tid='$!{vo.weiboTurn.id}'>转发($!{vo.weibo.turn})</span></li>
                <li>|</li>
                <li class='keep-wrap'>
                    <span class='keep' wid='$!{vo.weibo.id}'>收藏($!{vo.weibo.keep})</span>
                    <div class='keep-up hidden'></div>
                </li>
                <li>|</li>
                <li><span class='comment' wid='$!{vo.weibo.id}'>评论($!{vo.weibo.comment})</span></li>
            </ul>
        </div>
        <!--回复框-->
        <div class='comment_load hidden'>
            <img src="../Images/loading.gif">评论加载中，请稍候...
        </div>
        <div class='comment_list hidden'>
            <textarea name="" sign='comment$!{vo.weibo.id}'></textarea>
            <ul>
                <li class='phiz fleft' sign='comment$!{vo.weibo.id}'></li>
                <li class='comment_turn fleft'>
                    <label>
                        <input type="checkbox" name=''/>同时转发到我的微博
                    </label>
                </li>
                <li class='comment_btn fright' wid='$!{vo.weibo.id}' uid='$!{vo.userinfo.uid}'>评论</li>
            </ul>
        </div>
        <!--回复框结束-->
    </div>
</div>
<!--====================转发样式结束====================-->
        #end
    #end
#end
<div id='page'>{$page}</div>
</div>
<!--==========右侧==========-->
#parse("./common/right.html")
</div>
<!--==========内容主体结束==========-->
<!--==========底部==========-->
#parse("./common/bottom.html")