#parse("./common/header.html")
<title>微博系统-我的私信</title>
<link rel="stylesheet" href="../Theme/default/Css/nav.css" />
<link rel="stylesheet" href="../Theme/default/Css/letter.css" />
<link rel="stylesheet" href="../Theme/default/Css/bottom.css" />
<script type="text/javascript" src='../Js/jquery-1.7.2.min.js'></script>
<script type="text/javascript" src='../Js/nav.js'></script>
<script type='text/javascript' src='../Js/letter.js'></script>
<style rel="stylesheet" type="text/css">
#letter-sub{
   max-width:230px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;color:#A2CCEA;float:left;
}
#page {width: 100%;height: 60px;line-height: 60px;text-align: center;}
</style>
#parse("./common/nav.html")
<!--==========顶部固定导行条==========-->
<!--==========内容主体==========-->
<div style='height:60px;opcity:10'></div>
<div class="main">
    <!--=====左侧=====-->
    #parse("./common/left.html")
    <!--=====中部=====-->
    <div id="middle" class='fleft'>
        <p class='title'>我的私信<span class='send' style="float:right;">发送私信</span></p>
        #foreach ($conversation in $conversations)
            <dl>
                <dt>
                    <a href="/msg/detail?conversationId=$conversation.conversation.conversationId&uid=$!{conversation.userinfo.uid}">
                        <img src="#if("$!conversation.userinfo.face50" != "")/img/$!{conversation.userinfo.face50} #else ../Images/noface.gif #end" width='50' height='50'/>
                    </a>
                </dt>
                <dd>
                    <a href="/profile/$!{conversation.userinfo.uid}">$!{conversation.userinfo.nickname}</a> &nbsp;|&nbsp;<a href="/msg/detail?conversationId=$conversation.conversation.conversationId&uid=$!{conversation.userinfo.uid}">查看对话详情</a>
                    <span style="float:right">$date.format('yyyy-MM-dd HH:mm:ss', $conversation.conversation.createdDate)</span>
                </dd>
                <dd class='tright'>
                    <p id="letter-sub">$!{conversation.conversation.content}</p>
                    <span class=''><span style="color: #FF9B00;">${conversation.unread}条</span>未读，共${conversation.total}条</span>
                </dd>
            </dl>
        #end
        <div id="page">$!{pageStr}</div>
    </div>
    <!--==========右侧==========-->
    #parse("./common/right.html")
</div>
<!--==========内容主体结束==========-->

<!--私信弹出框-->
<div id='letter'>
    <form action='/msg/addMessage' method='post'>
        <div class="letter_head">
            <span class='letter_text fleft'>发送私信</span>
        </div>
        <div class='send-user'>
            用户昵称：<input type="text" name='toName'/>
        </div>
        <div class='send-cons'>
            内容：<textarea name="content"></textarea>
        </div>
        <div class='lt-btn-wrap'>
            <input type="submit" value='发送' class='send-lt-sub'/>
            <span class='letter-cencle'>取消</span>
        </div>
    </form>
</div>
<!--==========底部==========-->
#parse("./common/bottom.html")